<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	<add key="AdvantechNuget" value="https://nugetserver-dev.advantech.com.tw/nuget"/>
	<add key="AdvantechShardLibrary" value="https://sharedlibrary-dev.advantech.com.tw/v3/index.json"/>
  </packageSources>
</configuration>